<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
	backupGlobals="false"
	colors="true"
	bootstrap="tests/bootstrap.php"
	failOnNotice="true"
	failOnWarning="true"
	cacheDirectory=".phpunit.cache"
	stopOnWarning="false"
	displayDetailsOnTestsThatTriggerWarnings="false"
	displayDetailsOnTestsThatTriggerNotices="false"
	displayDetailsOnTestsThatTriggerDeprecations="true"

>
	<php>
		<server name="KERNEL_DIR" value="./src"/>
    	<server name="KERNEL_CLASS" value="Evotodi\SeedBundle\Tests\App\AppKernel" />
		<!--<ini name="display_errors" value="1" />-->
		<server name="SHELL_VERBOSITY" value="-1"/>
		<server name="APP_ENV" value="test" force="true"/>
		<ini name="error_reporting" value="-1"/>
		<ini name="memory_limit" value="1024M"/>
<!--		<env name="SYMFONY_DEPRECATIONS_HELPER" value="max[direct]=0" force="true" />-->
<!--		<env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0" force="true" />-->
<!--		<env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled=1" force="true" />-->
		<env name="SYMFONY_DEPRECATIONS_HELPER" value="0" force="true" />
<!--		<env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0&amp;quiet[]=indirect&amp;quiet[]=other" force="true"/>-->
	</php>

	<testsuites>
		<testsuite name="Evotodi Password Meter Test Suite">
			<directory>tests</directory>
		</testsuite>
	</testsuites>

	<groups>
		<exclude>
			<group>legacy</group>
		</exclude>
	</groups>

	<extensions>
		<bootstrap class="Symfony\Bridge\PhpUnit\SymfonyExtension">
			<parameter name="clock-mock-namespaces" value="App"/>
			<parameter name="dns-mock-namespaces" value="App"/>
		</bootstrap>
	</extensions>

	<source ignoreSuppressionOfDeprecations="true" restrictNotices="true" restrictWarnings="true">
		<include>
			<directory>src</directory>
		</include>
	</source>
</phpunit>
